body {
  margin: 0;
  background-color: #cfd8dc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Left side of page */

.section-left {
  position: fixed;
  display: table;
  height: 100%;
  width: 50%;
  background-color: #455a64;
}

.container-left {
  display: table-cell;
  vertical-align: middle;
}

form {
  display: table;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin: 0 0 50px 0;
  color: white;
  font-size: 4em;
  font-weight: 800;
}

h1 img {
  height: 50px;
}

.input-web-title {
  display: block;
  width: 99%;
  margin-bottom: 50px;
  font-size: 2em;
}

.input-web-url {
  display: block;
  width: 99%;
  margin-bottom: 50px;
  font-size: 2em;
}

.input-buttons {
  height: 40px;
  width: 100%;
  border: none;
  color: white;
  background-color: #ffc107;
  font-size: 1em;
  font-weight: 800;
}

.input-buttons:hover {
  background-color: #ffd773;
}

.input-buttons:disabled {
  background-color: gray;
}

.counter {
  text-align: center;
  margin: 12px 0 12px 0;
}

h3 {
  display: inline;
  margin-right: 20px;
  color: white;
}

span {
  color: #ffc107;
}

/* Right side of page */

.section-right {
  float: right;
  width: 50%;
  margin: 0 auto;
}

article {
  width: 90%;
  border: 2px solid #067d8b;
  margin: 20px auto 0 auto;
  background-color: white;
}

article.read1 {
  background-color: #f2f4f4;
}

button.read2 {
  color: #f05a28;
}

button.read2:hover {
  color: #f05a28;
  font-weight: 800;
}

h2 {
  display: inline-block;
  width: 90%;
  margin: 10px 0 10px 20px;
  color: #455a64;
  font-size: 2em;
  word-wrap: break-word;
}

a {
  display: inline-block;
  width: 90%;
  margin: 0 0 0 20px;
  color: #607d8b;
  font-size: 1.4em;
  word-wrap: break-word;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}

a:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration-color: #ffc107;
}

.bookmark-buttons {
  border: none;
  margin-bottom: 0 10px 10px 10px;
  color: #455a64;
  background-color: inherit;
  font-size: 1.1em;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}

.bookmark-buttons:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration-color: #ffc107;
}

.read-button {
  height: 25px;
  margin: 10px 0 10px 20px;
}

.delete-button {
  float: right;
  height: 25px;
  margin: 10px 20px 10px 0;
}

hr {
  margin: 0 20px 0 20px;
  border-color: #cfd8dc;
}

@media screen and (max-width: 700px) {

  .section-left {
    height: 200px;
    width: 100%;
  }

  h1 {
    margin: 0 0 10px 0;
    font-size: 2em;
  }

  h1 img {
    height: 25px;
  }

  .input-web-title {
    width: 99%;
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  .input-web-url {
    margin-bottom: 10px;
    font-size: 1.5em;
  }

  .button-submit {
    height: 35px;
  }

  .button-clear {
    height: 35px;
    margin-bottom: 10px;
  }

  .counter {
    margin: 6px 0 6px 0;
  }

  h3 {
    margin-right: 5px;
    font-size: .85em;
  }

  .section-right {
    width: 100%;
    margin-top: 250px;
  }

  h2 {
    font-size: 1em;
  }
  
  a {
    font-size: 1em;
  }
}
